<%= form_with(model: @resource, url: @action, data: { controller: "form-handler", action: "form-handler#submit" }, local: true) do |form| %>
  <% if @resource.errors.any? %>
    <ul style="<%= errors_class %>">
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="flex flex-col space-y-4">
    <% fields.each do |field| %>
      <div class="field">
        <%= form.public_send(field.type, field.name, placeholder: field.placeholder, autofocus: true) %>
      </div>
    <% end %>

    <% if video? %>
      <%= render FileComponent::VideoComponent.new(form: form, description: video.description) %>
    <% end %>

    <% if document? %>
      <%= render FileComponent::DocumentComponent.new(form: form, description: document.description) %>
    <% end %>

    <% if image? %>
      <%= render FileComponent::ImageComponent.new(form: form, description: image.description) %>
    <% end %>

    <div class="actions">
      <% if submit? %>
        <%= submit %>
      <% else %>
        <%= form.submit %>
      <% end %>
    </div>

  </div>
<% end %> 
