<h1> Course Module - <%= @course_module.name %></h1>

<% if @course_module.description.present? %>
  <%= @course_module.description =%>
<% else %>
  <p>No description available for this Module.</p>
<% end %>

<h2>Module Lessons</h2>
<% if @course_module.module_lessons.any? %>
  <ul>
    <% @course_module.module_lessons.each do |module_lesson| %>
      <li>
        <%= link_to module_lesson.name, admin_course_course_module_module_lesson_path(@course, @course_module, module_lesson) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No lessons available for this Module.</p>
<% end %>

<%= link_to 'New Module Lesson', new_admin_course_course_module_module_lesson_path(@course, @course_module) %>
<%= link_to 'Edit Module', edit_admin_course_course_module_path(@course, @course_module), data: { turbo_frame: "modal" } %>
<%= link_to 'Delete Module', admin_course_course_module_path(@course, @course_module), 
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<%= link_to 'Back to Course Modules', admin_course_course_modules_path %>
