<h1> Course Module - <%= @course_module.name %></h1>

<% if @course_module.description.present? %>
  <%= @course_module.description =%>
<% else %>
  <p>No description available for this Module.</p>
<% end %>

<%# <%= link_to 'New Module Lesson', new_admin_course_course_module_path(@course), class: 'btn btn-primary' %> 

<%= link_to 'Edit Module', edit_admin_course_course_module_path(@course, @course_module), class: 'btn btn-primary' %>
<%= link_to 'Delete Module', admin_course_course_module_path(@course, @course_module), 
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
          class: 'btn btn-danger' %>
<%= link_to 'Back to Course', admin_course_course_modules_path, class: 'back-btn' %>
