<ul class="grid grid-cols-3 gap-4 mt-4">
  <% courses.each do |course| %>
    <%= link_to course_path(course), data: { turbo: false } do %>
      <li class="p-3 w-60 h-80 rounded-lg shadow-lg shadow-black bg-white border border-black 
                hover:bg-purple-200 hover:scale-105 transition-transform duration-300">

        <%# --- Video Cover Image --- %>
        <% if course.image.attached? %>
          <%= image_tag course.image, class: 'object-cover w-full h-40 mb-2 rounded-lg' %>
        <% else %>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg", class: 'object-cover w-full h-40 mb-2 rounded-lg' %>
        <% end %>

        <h2 class="text-sm font-bold line-clamp-3 m-2"><%= course.name %></h2>

        <%# --- Course enrollment status --- %>
          <% if  course.enrolled?(current_user)%> 
            <% case course.status %>
            <% when 'not_started' %>
              <p class="status status-not-started"><%= course.status.humanize %></p>
            <% when 'started' %>
              <p class="status status-started"><%= course.status.humanize %></p>
            <% when 'completed' %>
              <p class="status status-completed"><%= course.status.humanize %></p>
            <% end %>
          <% else %>
           <p class="status status-not-enrolled">Enroll today</p>
          <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
