  <%= form_with(model: [:admin, @course, @course_module, @module_lesson], local: true) do |form| %>
    <% if @module_lesson.errors.any? %>
      <ul>
        <% @module_lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Back to Course Module', [:admin, @course, @course_module], class: 'back-btn' %>
