<h1> Module Lesson - <%= @module_lesson.name %></h1>

<% if @module_lesson.description.present? %>
  <%= @module_lesson.description =%>
<% else %>
  <p>No description available for this Lesson.</p>
<% end %>

<%= link_to 'Edit Module', edit_admin_course_course_module_module_lesson_path(@course, @course_module, @module_lesson), class: 'btn btn-primary' %>
<%= link_to 'Delete Lesson', admin_course_course_module_module_lesson_path(@course, @course_module, @module_lesson), 
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
          class: 'btn btn-danger' %>
<%= link_to 'Back to Course Module', admin_course_course_module_path(@course, @course_module), class: 'back-btn' %>
