<h1><%= @course.name %></h1>

<% if @course.description.present? %>
  <%= @course.description =%>
<% else %>
  <p>No description available for this course.</p>
<% end %>

<% if @course.course_modules.any? %>
  <h2>Course Modules</h2>
  <ul>
    <% @course.course_modules.each do |course_module| %>
      <li>
        <%= link_to course_module.name, admin_course_course_module_path(@course, course_module) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No course modules available for this course.</p>
<% end %>

<%= link_to 'New Course Module', new_admin_course_course_module_path(@course), class: 'btn btn-primary' %>

<%= link_to 'Edit Course', edit_admin_course_path(@course), class: 'btn btn-primary' %>
<%= link_to 'Delete Course', admin_course_path(@course), 
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
          class: 'btn btn-danger' %>
<%= link_to 'Back to Courses', admin_courses_path, class: 'back-btn' %>
